{{ $context := .context | default . }}
{{ $content := .content | default "" }}
{{ $pages := .pages | default nil }}
{{ $center := .center | default false }}
<div class="container d-flex flex-column flex-container">
  {{ partial "menu.html" (dict "menuID" "main" "page" $context) }}
  <div class="container container-body d-flex flex-column flex-body
  {{ if $center }} justify-content-center text-center {{ end }} mb-5">
    <main>
      <article>
        {{ partial "header.html" $context }}
        {{ $content | safeHTML }}

        {{ if $pages }}
        <div class="my-5">
          {{ range $pages }}
          {{ partial "list-item.html" . }}
          {{ end }}
        </div>
        {{ end }}
      </article>
    </main>
  </div>
  {{ partial "footer.html" $context }}
</div>
