<div class="container flex-footer text-muted fw-light">
  <hr>
  <footer>
    <div class="d-flex flex-wrap justify-content-center text-center gap-1">
      {{ if .Site.Params.copyright }}
      {{ if reflect.IsSlice .Site.Params.copyright }}
      {{ range .Site.Params.copyright }}
      <span>
        {{ . | safeHTML }}
      </span>
      {{ end }}
      {{ else }}
      <span>
        {{ .Site.Params.copyright | safeHTML }}
      </span>
      {{ end }}
      {{ else }}
      <span>
        {{ if .Site.Params.author }}
        {{ printf "Copyright &copy; %d %s." now.Year .Site.Params.author | safeHTML }}
        {{ else }}
        {{ printf "Copyright &copy; %d." now.Year | safeHTML }}
        {{ end }}
      </span>
      {{ end }}
    </div>
  </footer>
</div>
