<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <title>
    {{ if and .Title .Site.Title (not .Params.hide_site_title) }}
    {{ printf "%s - %s" .Title .Site.Title }}
    {{ else }}
    {{ .Title | default .Site.Title }}
    {{ end }}
  </title>

  {{ $colorModesJs := resources.Get "assets/js/color-modes.js" | minify | fingerprint }}
  <script data-cfasync="false" src="{{ $colorModesJs.RelPermalink }}"
    integrity="{{ $colorModesJs.Data.Integrity }}"></script>

  {{ $style := resources.Get "assets/css/style.scss" | css.Sass | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap.min.css"
    integrity="sha512-2bBQCjcnw658Lho4nlXJcc6WkV/UxpE/sAokbXPxQNGqmNdQrWqtw26Ns9kFF/yG792pKR1Sx8/Y1Lf1XN4GKA=="
    crossorigin="anonymous" referrerpolicy="no-referrer">

  {{ range .Site.Params.favicon }}
  {{ $rel := printf "rel=%q" .rel | safeHTMLAttr }}
  {{ $type := printf "type=%q" .type | safeHTMLAttr }}
  {{ $sizes := printf "sizes=%q" .sizes | safeHTMLAttr }}
  <link {{ $rel }} {{ $type }} {{ $sizes }} href="{{ .href | relURL }}">
  {{ end }}

  {{ if .Site.Params.manifest }}
  <link rel="manifest" href="{{ .Site.Params.manifest | relURL }}">
  {{ end }}

  <link rel="canonical" href="{{ .Permalink }}">

  {{ $author := or .Params.author site.Params.author }}
  {{ if $author }}
  {{ $author = printf "content=%q" $author | safeHTMLAttr }}
  <meta name="author" {{ $author }}>
  {{ end }}

  {{ $description := or .Description .Summary site.Params.description }}
  {{ if $description }}
  {{ $description = printf "content=%q" $description | safeHTMLAttr }}
  <meta name="description" {{ $description }}>
  {{ end }}

  {{ partial "opengraph.html" . }}

  {{ partial "twitter_cards.html" . }}
</head>
